<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja Quizu</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<a class="btn btn-dark btn-lg my-2 m-1" aria-current="page" href="#"
   th:href="@{/subject/{id}/quiz (id = ${subjectId})}">Wróć do zarządzania quizami dla przedmiotu</a>
<main class="jumbotron text-center" sec:authorize="hasRole('TEACHER')">
    <div class="container-fluid text-center h-100">
        <form th:action="@{{id} (id = ${quiz.id})}" th:object="${quiz}" th:method="put"
              style="margin: 0 auto;" class="w-100">
            <h1 class="jumbotron-heading">Dodaj quiz</h1>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <p class="text-danger" th:if="${param.error}">
                    Podana ilość pytań jest mniejsza niż zaznaczona ilość pytań.
                </p>
                <p>
                    <label for="inputTime" class="sr-only">Przewidziany czas</label>
                    <input type="number" th:field="*{time}" th:value="*{time}" id="inputTime" class="form-control"
                           placeholder="Przewidzany czas" th:min="1" th:max="60" required>
                </p>
                <ul class="text-danger" th:if="${#fields.hasErrors('time')}" th:each="error: ${#fields.errors('time')}">
                    <li th:each="message : ${error.split(',')}">
                        <p class="error-message" th:text="${message}"></p>
                    </li>
                </ul>
                <p>
                    <label for="inputNumberOfQuestions" class="sr-only">Ilość pytań w quizie</label>
                    <input type="number" id="inputNumberOfQuestions" class="form-control"
                           th:field="*{numberOfQuestions}" th:value="*{numberOfQuestions}"
                           placeholder="Ilość pytań w quizie" th:min="1" required>
                </p>
                <ul class="text-danger" th:if="${#fields.hasErrors('numberOfQuestions')}"
                    th:each="error: ${#fields.errors('numberOfQuestions')}">
                    <li th:each="message : ${error.split(',')}">
                        <p class="error-message" th:text="${message}"></p>
                    </li>
                </ul>
                <h1 class="h3 mb-3 font-weight-normal">Wybierz pytania które będą losowane do quizu</h1>
                <th:block th:each="question: ${questions}" th:object="${question}">
                    <div class="media-body border-bottom border-top border-gray row d-flex ml-2">
                        <p>
                            <input type="checkbox" name="quest" th:name="quest" th:value="${question.text}"
                                   th:checked="${#lists.contains(quiz.questions,question)}">
                            <label th:text="${question.text}"></label>
                        </p>
                        <a href="#" class="float-right"
                           th:href="@{/question/edit/{id}/?url=__${#httpServletRequest.requestURI}__ (id = ${question.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                    </div>
                </th:block>
                <p>
                    <button type="submit" class="btn btn-dark m-2" value="Edytuj quiz">Edytuj quiz</button>
                </p>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer.html"></footer>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>