<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Quizów</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<a class="btn btn-dark btn-lg my-2 m-1" aria-current="page" href="#" th:href="@{/homepage}">Wróć do panel
    zarządzania</a>
<main class="jumbotron text-center" sec:authorize="hasRole('STUDENT')">
    <div class="container d-flex h-75 align-middle ">
        <div class="col align-self-center" th:if="${quizzes.totalPages > 0}">
            <h1 class="jumbotron-heading">Dostępne quizy</h1>
            <div th:each="quiz: ${quizzes}" th:object="${quiz}" class="my-3 p-3 bg-white rounded box-shadow">
                <p class="lead text-muted" th:text="*{subject.name}">Nazwa przedmiotu</p>
                <label>Przewidziany czas w minutach: </label>
                <p class="lead text-muted" th:text="*{time}">Ilość czasu</p>
                <label>Ilość pytań: </label>
                <p class="lead text-muted" th:text="*{numberOfQuestions}">Ilość pytań</p>
                <p>
                    <a class="btn btn-dark btn-lg my-2 w-50" href="#"
                       th:href="@{__${#httpServletRequest.requestURI}__/{id} (id = ${quiz.id})}" role="button">Rozpocznij
                        quiz</a>
                </p>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${quizzes.getPageable().getPageNumber() > 0}">
                        <a class="page-link" href="#"
                           th:href="@{__${#httpServletRequest.requestURI}__(size=${quizzes.size}, page=${quizzes.getPageable().getPageNumber()})}">Poprzednia</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                         <span class="page-link" th:if="${pageNumber == (quizzes.getPageable().getPageNumber()+1)}"
                               th:text="${pageNumber}">
                            1
                        <span class="sr-only">(current)</span>
                        </span>
                        <a th:unless="${pageNumber == (quizzes.getPageable().getPageNumber()+1)}" class="page-link"
                           href="#" th:href="@{__${#httpServletRequest.requestURI}__(size=${quizzes.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                        >1</a>
                    </li>
                    <li class="page-item" th:if="${quizzes.getPageable().getPageNumber() < pageNumbers.size()-1}">
                        <a class="page-link" href="#"
                           th:href="@{__${#httpServletRequest.requestURI}__(size=${quizzes.size}, page=${quizzes.getPageable().getPageNumber()+2})}">Następna</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col align-self-center" th:unless="${quizzes.totalPages > 0}">
            <h1 class="jumbotron-heading">Brak dostępnych quizów</h1>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer.html"></footer>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>